# -------------------------------
# Global OS junk
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# Python
# -------------------------------
__pycache__/
*.py[cod]
.venv/

# -------------------------------
# Node.js
# -------------------------------
node_modules/
dist/

# -------------------------------
# Docker
# -------------------------------
*.log
docker-compose.override.yml

# -------------------------------
# Terraform
# -------------------------------
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# -------------------------------
# Kubernetes
# -------------------------------
.kube/
kubeconfig

# -------------------------------
# Overrides for project docs
# (always include documentation)
# -------------------------------
!docs/
!docs/**/*.md
!docs/**/*.log
